body {
    margin: 0;
    background-image: url("https://www.forterra.co.uk/files/brick-bonds-stretcher.x456.y340.jpg")
}

#form1 {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    #form1 input[type=text] {
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
        width: 200px;
        height: 160px;
        padding: 6px 6px;
        box-sizing: border-box;
        border-top: 40px solid #FFFF88;
        background-color: #f7c80e;
        text-align: top;
    }

        #form1 input[type=text]:focus {
            outline: none;
        }

#container {
    margin: 20px;
}

.todo_card {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    width: 200px;
    height: 160px;
    padding: 10px;
    border-top: 40px solid #FFFF88;
    background-color: #f7c80e;
    display: inline-block;
    margin: 20px 20px 0px 0px;
}
